/**
* 图标
* @author 
*/

.ico{display: inline-block;vertical-align: middle;background-size: 100% 100%}

/** logo */
.ico-logoTitle{width:20px;height: 20px;background-image: url(../img/ico-logo-title.png);;}
.ico-logoLarge{width: 80px;height: 80px;background-image: url(../img/ico-logo-large.png);;}

.ico-darg{width: 32px;height:10px;background-image: url(../img/darg.png);background-size:4px 10px;background-repeat:repeat-x;}

.ico-folder{width: 14px;height: 14px;background-image: url(../img/ico-folder.gif);}
.ico-file{width: 14px;height: 14px;background-image: url(../img/ico-file.gif);}
.ico-disk{width: 14px;height: 14px;background-image: url(../img/ico-disk.gif);}
.ico-desktop{width: 14px;height: 14px;background-image: url(../img/ico-desktop.gif);}

.ico-computer{width: 90px;height: 70px;background-image: url(../img/gray-computer.gif);}